@model IEnumerable<Threshold>

@{
    List<Threshold> thresholds = Model.ToList();
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculate your state taxes:</h1>
    <form>
        <label class="control-label">Input value of income:</label>
        <input id="income-value" type="number" class="form-control"/>
        <input type="submit" value="Calculate"/><br/>
    </form>
</div>
@* <script> *@
@*     function functionGetTax(){ *@
@*         onclick=((e)=>{ *@
@*         e.preventDefault(); *@
@*             let income = document.getElementById("income-value"); *@
@*              *@
@*         }) *@
@*     } *@
@* </script> *@