@model IEnumerable<Threshold>

<div class="text-center">
    <h1 class="display-4">Calculate your state taxes:</h1>
    <form id="calculate-tax" asp-action="CalculateTax" asp-controller="Home" >
        <label class="control-label">Input value of income:</label>
        <input id="income-value" name="income"  type="number" class="form-control"/>
        <input class="buttons" type="submit" value="Calculate"/>
        
    </form>
    <label id="result"></label>
    <label id="percent-result"></label>
</div>