@model IEnumerable<Threshold>
@{
    ViewData["Title"] = "Tax thresholds";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <td>Tax income not over ($):</td><td>State marginal rate (%):</td><td>Delete threshold:</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Value $</td>
            <td>@item.Percent %</td>
            <td><form asp-controller="Home" asp-action="DeleteThreshold" asp-route-id="@item.ThresholdId">
                    <div class="form-group">
                        <input class="buttons" type="submit" value="Delete threshold"/>
                    </div>
                </form>
            </td>
        </tr>
    }
</table>
<div id="button-add-threshold" class="buttons">
    <a asp-action="AddThreshold">Add threshold</a>
</div>